@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
h1{
    font-family:'OpenSans';
}
.logo{
    width: 225;
    margin-left: 50;
}
#margenIzq{
    float: left;
}
#margenDer{
    float: right;
}
.medio{
    text-align:center;
}
.borde{
    border: 1px solid black;
}
.icono{
    height: 25;
}
#text{
    color: cornsilk;
}
.nota{
    font-family: 'Arial';
    color: #ffffff;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 12;
}
#fot{
    height: 350px;
}
#propaganda{
    margin-left:30;
    height:520px;
    width: 230;
}